@import 'src/styles';

.loginPage {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginItem {
  align-self: center;
  margin-right: 65px;
}
