// global colors that will be used
$white: #f5f5f5;
$black: #151515;
$light_black: #222222;
$purple: #7c3aed;
$light_purple: #a88bfa;
$gray: #525252;
$red: #ff9898;
$light_gray: #a3a3a3;
$green: #90ff86;
